main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.contenedor-imagenes, .contenedor-videos, .contenedor-texto {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    border: 2px solid #742727;
    border-radius: 10px;
    background-color: #029aff77;
    text-align: justify;
}


.contenedor-imagenes h2, .contenedor-videos h2, .contenedor-texto h2 {
    margin-top: 0;
}

.imagenes, .videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imagenes img, .videos iframe {
    width: 100%;
    max-width: 400px;
    height: 200px;
    border-radius: 10px;
}

.additional-text {
    color: #4CAF50;
    padding: 15px;
    background-color: #fff3e0;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    margin: 10px 0;
}

@media (min-width: 600px) {
    .imagenes img, .videos video {
        max-width: 45%; 
    }
}

@media (min-width: 900px) {
    .imagenes img, .videos video {
        max-width: 30%; 
    }
}
